.one h1{
	text-align:center;
	color:#4B0082;
}

.two label input{
    text-align:center;
}

.two {
	color:#4B0082;
}

.two button{
	color:#4B0082;
}

.three {
	color:#4B0082;
}

.four {
	
}